/*NAV BEGIN*/

.nav {
  display: flex;
  height: 60px;
  width: 60px;
  margin-top: 7.5px;
  margin-left: 1%;
  border-radius: 20px;
  background-color: white;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.nav-info {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.hamburger {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.ham {
  border-radius: 50px;
  background-color: grey;
  width: 70%;
  height: 10%;
  transition: all .5s ease-in-out;
}

.ham::before,
.ham::after {
  content: '';
  position: absolute;
  border-radius: 50px;
  background-color: grey;
  width: 70%;
  height: 10%;
  transition: all .5s ease-in-out;
}

.ham::before {
  transform: translateY(-200%);
}

.ham::after {
  transform: translateY(200%);
}

.hamburger.open .ham{
  background: transparent;
}

.hamburger.open .ham::before{
  transform: rotate(45deg) ;
}

.hamburger.open .ham::after{
  transform: rotate(-45deg);
}

.grow {
  width: 98%;
}

.nav.grow .nav-info{
  display: flex;
  width: auto;
  height: auto;
}

/*NAV END*/

.title{
  margin-top: auto;
  margin-bottom: auto;
}
.title h1{
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 9.5vw;
  color: white;
}
.banner{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 25%;
  display: grid;
  align-content: center;
}

.info{
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-height: 40%;
  border-style: solid;
  border-width: 5px;
  border-radius: 35px;
  border-color: White;
  padding: 0.5%;
  box-shadow: 0 3px 47px rgba(0,0,0,0.15);
}

.textbox{
  margin-left: 10%;
  margin-right: 10%;
}


.textbox p{
  margin-top: 15%;
  text-indent: 30px;
  color: black;
  font-size: 22px;
  text-align: center;
}

.socials{
  display: grid;
  justify-content: center;
  gap: 4px;
  grid-auto-flow: column;
}
.socials a{
  padding-left: 5px;
  padding-right: 5px;
}

.footer{
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: 27%;
  display: flex;
  justify-content: center;
}

.contact{

  font-size: 1.5em;
  color: white;
  padding: 5px;
  width: 50%;
  max-height: 100%;
}

.skills{
  width: 50%;
  color: white;
  padding: 5px;
  max-height: 100%;
}

.skills a{
  display: inline-block;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.5em;
  padding: 4px;
  margin-top: 6px;
  background-color: white;
  transition: 0.3s;
}

.skills a:hover{
  background-color: black;
  color: white;
  transition: 0.3s;
  font-size: 2em;
}




@media screen and (max-aspect-ratio: 4 / 3){
  .title{
    margin-left: 0;

    text-align: center;
    transition: 1s;
  }
  .title h1{
    margin: 0;
    padding: 0;
    font-size: 14vw;
    color: white;
    transition: 1s;
  }
  .footer{
    margin: 0;
    width: auto;
    height: auto;
    align-items: center;
    flex-direction: column;
  }
  .skills h1{
    text-align: center;
  }
  .contact{
    text-align: center;
  }

}

@media screen and (max-aspect-ratio: 9 / 16){
  .banner{
    height: 25%;
    transition: 1s;
  }
  .title{
    margin-left: 0;

    text-align: center;
    transition: 1s;
  }
  .title h1{
    margin: 0;
    padding: 0;
    font-size: 17vw;
    color: white;
    transition: 1s;
  }
  .footer{
    margin: 0;
    width: auto;
    height: auto;
    align-items: center;
    flex-direction: column;
    transition: 1s;
  }
  .skills h1{
    text-align: center;
    transition: 1s;
  }
  .contact{
    text-align: center;
    transition: 1s;
  }
  .info{
    width: auto;
    margin: 5%;
    transition: 1s;
  }
}
