html {
  background-color: #002855;
}

 .Banner {
   font-family: Helvetica Neue;
   font-size: 50px;
   color: #EAAA00;
   width: 100%;
   margin: 0;
   padding-bottom: 0;
   text-align: center;
 }

 .buttonList {
   width: 60%;
   margin-left: auto;
   margin-right: auto;
 }

 .buttonList a{
   text-align: center;
   font-size: 25px;
   border-radius: 10px;
   background-color: #EAAA00; /* Grey background color */
   color: black; /* Black text color */
   display: block; /* Make the links appear below each other */
   padding: 12px; /* Add some padding */
   margin-bottom: 1%;
   text-decoration: none; /* Remove underline from links */
 }

 .buttonList.r a:hover {
   background-color: #ffdd00; /* Dark grey background on mouse-over */
 }
