{% extends "general.html" %}
{% block css %}
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css')}}>
{% endblock css %}

{% block content %}

  <div class="banner">
    <div class="title asset-nb">
      <h1>Welcome!</h1>
    </div>
  </div>

  <div class="info asset">

    <div class="textbox asset">
      <p>Hi! My name is Lucas Givens. Aspiring programmer, I'm looking for experience anywhere and everywhere. Right now this
        site is more of a contact card. If you check out the menu in the upper left corner you'll find a sample site I've been working on.
        Eventually there where also be a link to my project page and their github repos so stay tuned!
        Below are my socials as well as my contact information. Feel free to reach out to me at any time with questions!
      </p>
    </div>
    <div class="socials">
      <a href="https://www.instagram.com/lucas_givens/"><img src="{{url_for('static', filename='img/insta.svg')}}" width="50" height="50" alt=""></a>
      <a href="https://www.linkedin.com/in/lucas-givens-2a2198214"><img src="{{url_for('static', filename='img/linked.svg')}}" width="50" height="50" alt=""></a>
      <a href="{{ url_for('routes.snapCode') }}"><img src="{{url_for('static', filename='img/snap.svg')}}" width="50" height="50" alt=""></a>
    </div>
  </div>
  <div class="footer">
    <div class="contact asset-nb">
      <br>
      <li>Email: givlucas@gmail.com</li>
      <br>
      <li>Email 2: lucas@otmlabs.xyz</li>
      <br>
      <li>Phone: (304)-546-2718</li>

    </div>
    <div class="skills asset-nb">
      <h1>Skills</h1>
      <a class="asset" href="#">C++</a>
      <a class="asset" href="#">C</a>
      <a class="asset" href="#">x86 Assembly</a>
      <a class="asset" href="#">HTML</a>
      <a class="asset" href="#">CSS</a>
      <a class="asset" href="#">JS</a>
      <a class="asset" href="#">Networking</a>
      <a class="asset" href="#">Google Cloud</a>
      <a class="asset" href="#">Cyber Sec</a>
      <a class="asset" href="#">GIT</a>
      <a class="asset" href="#">Flask</a>
      <a class="asset" href="#">UEFI</a>
      <a class="asset" href="#">Python</a>
      <a class="asset" href="#">SQL</a>
      <a class="asset" href="#">Linux</a>
    </div>
  </div>
{% endblock content %}
